
<%- include('partials/header') %>
<h2 class="text-center text-muted display-4">About Page</h2>
<div class="d-flex justify-content-center flex-column align-items-center">
   <div class="text-center">
      <p>This Website shows the recipes added by people and People can add recipes to this website. </p>
    </div>
</div>
<%- include('partials/footer') %>
