
<%- include('partials/header') %>
<h2 class="text-center text-muted display-4">Contact</h2>
<div class="d-flex justify-content-center flex-column align-items-center">
    <div class="text-center">
      <p>Karthik Yechuri</p> 
      <p>813-709-6035</p>
    </div>
</div>
<%- include('partials/footer') %>
