<%- include('partials/header'); -%>
<div class="d-flex justify-content-center flex-column align-items-center">
    <h2 class="title text-center"><%= recipe %></h2>
    <div class="text-center">
      <p><%= recipeDescription %></p>
    </div>
</div>  
<%- include('partials/footer'); -%>